<div class="container" id="spacer">
  <div class="row">
		<div class="col-sm-6 col-sm-offset-3">
		  <h4><%= t("pro_edit") %></h4>
		  <br>
		    <%= form_for(@pro_user, :url => { :action => :update_profpic} )do |f| %>
		      <%= f.file_field :prof_pic %>
		      <br>
		      <%= f.submit t("update_profile"), class: "btn btn-default col-sm-12"%>
		    <% end %>
		  </form>
		</div>
	</div>
</div>

