<div class="container">
	<div class="row">
		<div class="col-sm-2 col-sm-offset-1 prof-pic">
			<p>User pic :) </p>
		</div>
		<div class="col-sm-4 users">
			<p>Hi, <%= @user.name %></p>
			<p>E-mail: <%= @user.email %></p>
			<p>Password: ******* <%= link_to "Change your password", user_edit_password_path %></p><!--  edit to correct path -->
			<%= link_to 'Create a professional profile', user_path(current_user.name), class:"btn btn-primary btn-md" %>
		</div>
		
	</div>
</div>
