header, footer{
	text-align: center;
}

.prof-pic{
	border: 0.1em solid #E9E9E9;
	height: 18.75em;
	width: 18.75em;
	text-align: center;
}

.notice-alert{
	height: 2em;
	width: 100%;
	text-align: center;
	color: white;
	background-color: black;
}