// Place all the styles related to the Professionals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pro-name{
	font-size: 2em;
	font-weight: bold;
	padding-bottom: 0;
}

.pro-title{
	font-size: 1.5em;
	font-style: italic;
}

.pro-description{
	font-size: 1.1em;
	padding-top: 1em;
}

.edit-link{
	text-align: right;
}
.edit-pic-link{
	text-align: center;
	padding-top: 2em;
}

.pro-booking {
	text-align: center;
}

.prof-pic{
	border: 0.1em solid #E9E9E9;
	height: 22em;
	width:22em;
	text-align: center;
	margin-left: 2.5em;
}
.prof-pic img{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}