.all-pros{
	margin: 5em 0 5em 0;
	margin: auto;
	margin-top: 5em;
	margin-bottom: 5em;
	text-align: center;
}
.professional-profile{
	margin-top: 7em;
}

.pro-name a{
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 0;
	color: black;
}

.pro-title{
	font-size: 1.4em;
	font-weight: bold;
	color: #B10DC9;
}
.pro-name{
	font-size: 1.7em;
	font-weight: bold;
	padding-bottom: 0;
	color: black;
}

.pro-title a{
	font-size: 1.4em;
	font-weight: bold;
	color: #B10DC9;
}

.pro-description{
	font-size: 1.1em;
	padding-top: 1em;
	text-align: justify;
}

.form-control.pro-description{
	height: 10em;
}

.edit-link{
	text-align: right;
}
.edit-pic-link{
	text-align: center;
	padding-top: 2em;
}

.pro-booking {
	text-align: center;
}

.prof-pic{
	border: 0.1em solid #E9E9E9;
	height: 22em;
	width:22em;
	text-align: center;
	margin-left: 2.5em;
}
.prof-pic img{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.prof-pic-medium{
	margin: auto;
	background: #F9F9F9;
	position: relative;
	height: 25em;
	width:  25em;
	top: 50%;
}

.prof-pic-medium img{
	 // width: auto;
  // max-width: 100%;
  // height: auto;
  // max-height: 100%;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.prof-pic-title{
	position: absolute;
	z-index: 9;
	top: 50%;
	left: 25%;
	right: 25%;
	width: 20em;
  margin-left: -3.5em;
	transform: translateY(-50%);
	h3, h4{
		margin: 0;
	}
}

.col-sm-6.col-sm-offset-3.pro-edit{
	margin:{
		top: 5em;
		bottom: 7em;
	}
}

.pro-details{
	margin-left: 2em;
}
