// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reservation{
	height: auto;
	width: 25em;
	background-color: #E8E8E8;
}

.col-sm-2 .fa{
	font-size: 1.6em;
}

p.pull-right.id{
	padding: 0.6em;
}

.col-sm-2.col-sm-offset-1.fa {
	text-align: center;
}

.create-pro{
	margin-top: 1.3em;
}

.reservation-line{
	margin: auto;
	margin-top: 0.4em;
}

.reservation-review.btn-primary{
	height: 2em;
	padding: 0.05em;
	font-size: 0.8em;
	margin-top: 0.2em;
	a{
		font-size: 0.8em;
		padding: 0;
		margin: 0;
	}
}
