.review-panel{
	margin-top: 1em;
}

.col-sm-6.review{
	padding: 2em;
}

.review-description{
	margin-top: 1em;
}

.stars-write{
	margin: 5em 0 1em 1em;
}
.over-all>i{
	font-size: 1.5em;
	color: #bcd501;
}

.reservation-details>i{
	text-align: center;
}

.reviews-list{
	margin-bottom: 3em;
}

.review-header>i{
	color:#B10DC9;
}