// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header, footer, .all-pros, #search-form{
	text-align: center;
}

.notice-alert{
	height: 4em;
	width: 100%;
	text-align: center;
	color: white;
	background-color: black;
}


