.prof-pic-thumb{
	border: 0.1em solid #E9E9E9;
	height: 7.3em;
	width: auto;
}
.prof-pic-thumb img{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.prof-pic-small{
	border: 0.1em solid #E9E9E9;
	height: 12em;
	width: 12em;
}

.prof-pic-small img{
	max-width: 100%;
}

#no-avatar{
	max-width: 100%;
}


.prof-pic-medium img{
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	
}

.col-sm-4.col-sm-offset-4.user-edit{
	margin:{
		top: 5em;
		bottom: 17em;
	}
}


