.prof-pic-thumb{
	border: 0.1em solid #E9E9E9;
	height: 7.3em;
	width: auto;
}
.prof-pic-thumb img{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.prof-pic-small{
	border: 0.1em solid #E9E9E9;
	height: 12em;
	width: 12em;
}

.prof-pic-small img{
	max-width: 100%;
}

.all-pros{
	margin-top: 15em;
}

.prof-pic-medium{
	margin: auto;
	background: #F9F9F9;
	position: relative;
	height: 25em;
	width:  25em;
	top: 50%;
	transform: translateY(-50%);
}

.prof-pic-medium img{
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	
}

.prof-pic-title{
	position: absolute;
	z-index: 9;
	top: 50%;
	width: 20em;
  margin-left: -3.5em;
	// left: 25%;
	// right: 25%;
	transform: translateY(-50%);
	h3, h4{
		margin: 0;
	}
}
.col-sm-4.col-sm-offset-4.user-edit{
	margin:{
		top: 5em;
		bottom: 17em;
	}
}


