<div class="row pro-rating">
	<div class="col-sm-12 over-all">
		<% if @pro_user.reviews.empty? %>
			<i class="fa fa-star-o" id="over-all"></i>
			<i class="fa fa-star-o" id="over-all"></i>
			<i class="fa fa-star-o" id="over-all"></i>
			<i class="fa fa-star-o" id="over-all"></i>
			<i class="fa fa-star-o" id="over-all"></i>
			<p> <%= @pro_user.user.name %> has 0 reviews. Write the first one!</p>
		<% else %>
			<% case @rating %>
				<% when 1 %>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
				<% when 2 %>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
				<% when 3 %>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
				<% when 4 %>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
				<% when 5 %>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
			<% end %>
		<% end %>
	</div>
</div>