	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title"><%= review.title %>
	    	<br>
	    	<%= review.rating %> stars</h3>
	  </div>
	  <div class="panel-body">
	    <p><%= review.description %></p>
			<p>Author of this review: <%= review.user%></p>
	  </div>
	</div>



