<div class="col-sm-6">
	  <div class="review-header">
	  	<hr>
	    	<% case review.rating  %>
	    		<% when 1 %>
	    			<i class="fa fa-star"></i>
	    			<i class="fa fa-star-o"></i>
	    			<i class="fa fa-star-o"></i>
	    			<i class="fa fa-star-o"></i>
	    			<i class="fa fa-star-o"></i>
	    		<% when 2 %>
	    			<i class="fa fa-star"></i>
	    			<i class="fa fa-star"></i>
	    			<i class="fa fa-star-o"></i>
	    			<i class="fa fa-star-o"></i>
	    			<i class="fa fa-star-o"></i>
	    		<% when 3 %>
	    			<i class="fa fa-star"></i>
	    			<i class="fa fa-star"></i>
	    			<i class="fa fa-star"></i>
	    			<i class="fa fa-star-o"></i>
	    			<i class="fa fa-star-o"></i>
	    		<% when 4 %>
	    			<i class="fa fa-star"></i>
	    			<i class="fa fa-star"></i>
	    			<i class="fa fa-star"></i>
	    			<i class="fa fa-star"></i>
	    			<i class="fa fa-star-o"></i>
	    		<% when 5 %>
	    			<i class="fa fa-star"></i>
	    			<i class="fa fa-star"></i>
	    			<i class="fa fa-star"></i>
	    			<i class="fa fa-star"></i>
	    			<i class="fa fa-star"></i>
	    	<% end %>
	    	<%= review.title %>
	    	<br>
	    	by <%= review.user.name%> on <%= review.created_at.strftime("%d/%m/%y") %>
	  <div class="review-description">
	    <p><%= review.description %></p>
	  </div>
	</div>
	<br>
	<hr>
</div>
