<div class="row">
	<div class="col-sm-10 col-sm-offset-1">

			<%= render partial: "reviews/review_form", locals:{review: @review, pro_user: @pro_user}%>

		<% unless @pro_user.reviews.empty? %>
			<div class="review-panel">
				<div class="row">
					<% @pro_user.reviews.each do |review, index| %>
						<%= render partial: "reviews/reviews", locals: { review: review } %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>