<div class="row">
	<div class="main-panel">
		<div class="overlay">
		</div>
	<div class="headlines">
		<p id="panel-title"> Book the best professional </p>
		<br>
		<p id="panel-slogan"> Look at backgrounds and reviews </p>
	</div>
	</div>
</div>


