
<div class="main-panel">
	<div class="overlay">
	</div>
	<div class="headlines">
		<p id="panel-title"> Book the best professional </p>
		<br>
		<p id="panel-slogan"> Look at backgrounds and reviews </p>
	</div>
</div>
<div class="col-sm-4 col-sm-offset-4">
	<%= form_tag(root_path, :method => "get", id: "search-form", role: "search") do %>
  	<%= text_field_tag :search, params[:search], class:"form-control search-query", placeholder:"Search" %>
<!--     <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button> -->
	<% end %>
</div>




