<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<%= form_tag(root_path, :method => "get", class: "navbar-form navbar-left", id: "search-form", role: "search") do %>
		      <%= text_field_tag :search, params[:search], class:"form-control", placeholder:"Search" %>
		      <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
  		<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4 all-pros">
			<% @pro_users.each do |pro| %>
				<p> <%= link_to pro.title, professional_path(pro.id) %> </p>
			<% end %>
		</div>
	</div>
</div>

