<nav class="navbar navbar-inverse" id="footer" >
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link_to t("home"), user_path%></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>