<div id="why">
	<div class="container">
		<p class="why"> <%= t("why") %>?</p>
		<div class="row">
			<div class="col-sm-4">
				<i class="glyphicon glyphicon-search"></i>
				<p class="why-text"><%= t("why_users") %></p>
			</div>
			<div class="col-sm-4">
				<i class="glyphicon glyphicon-user"></i>
				<p class="why-text"><%= t("why_pros") %></p>
			</div>
			<div class="col-sm-4">
				<i class="glyphicon glyphicon-ok"></i>
				<p class="why-text"><%= t("why_vp") %></p>
			</div>
		</div>
	</div>
</div>