<div id="why">
	<div class="container">
		<p class="why"> Why? </p>
		<div class="row">
			<div class="col-sm-4">
				<i class="glyphicon glyphicon-search"></i>
				<p class="why-text">Find and book the best expert. Take a look at their backgrounds and people's review on them. Make an appointment right away.</p>
			</div>
			<div class="col-sm-4">
				<i class="glyphicon glyphicon-user"></i>
				<p class="why-text">Display your professionals skills to the world. Get more appointments.</p>
			</div>
			<div class="col-sm-4">
				<i class="glyphicon glyphicon-ok"></i>
				<p class="why-text">Best professionals on all areas rated by their customers. </p>
			</div>
		</div>
	</div>

</div>